<style>
    .gold-star {
        color: gold;
    }

    .hotel-card {
        border: 1px solid #ddd;
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.3s ease-in-out;
    }

        .hotel-card:hover {
            transform: scale(1.05);
        }

    .card-img-top {
        max-height: 200px;
        object-fit: cover;
    }

    .card-body {
        padding: 15px;
        padding-right: 50px
    }

    .card-title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .card-text {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .rating {
        display: flex;
        align-items: center;
    }

    .wider-description {
        width: 130%;
    }
</style>

<div class="container mt-4">
    <h2 class="text-center mb-4">Hotels Details</h2>

    <div class="row justify-content-center">
        @foreach (var hotel in Model)
        {
            <div class="col-md-6 mb-4">
                <div class="card hotel-card mx-auto ">
                    <div class="row g-0">

                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">@hotel.Name</h5>
                                <p class="card-text wider-description">@hotel.Description</p>
                                <p class="card-text">Location: @hotel.Location</p>
                                <p class="card-text">Rooms: @hotel.Rooms</p>
                                <p class="card-text">
                                    @for (int i = 0; i < hotel.Rating; i++)
                                    {
                                        <i class="fa fa-star gold-star" aria-hidden="true"></i>
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="@hotel.ImgURL" class="card-img-top" alt="Hotel Image">
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>